In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp39-cp39-win_amd64.whl (10.9 MB)
     ---------------------------------------- 10.9/10.9 MB 6.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\dmaka\anaconda3\envs\tflow1\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7-py2.py3-none-any.whl (499 kB)
     -------------------------------------- 499.4/499.4 kB 5.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.3 in c:\users\dmaka\anaconda3\envs\tflow1\lib\site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in c:\users\dmaka\anaconda3\envs\tflow1\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.2 pytz-2022.7

In [1]:
import cv2
import pandas as pd
import os
from os import listdir

In [5]:
Train_csv = pd.read_csv('train.csv')

Train_csv.iloc[0]['scab']

1

In [6]:
Train_csv[:1821]

        image_id  healthy  multiple_diseases  rust  scab
0        Train_0        0                  0     0     1
1        Train_1        0                  1     0     0
2        Train_2        1                  0     0     0
3        Train_3        0                  0     1     0
4        Train_4        1                  0     0     0
...          ...      ...                ...   ...   ...
1816  Train_1816        0                  0     0     1
1817  Train_1817        1                  0     0     0
1818  Train_1818        1                  0     0     0
1819  Train_1819        0                  0     1     0
1820  Train_1820        0                  0     0     1

[1821 rows x 5 columns]

In [5]:
folder = 'E:/Self-Learning/Projects AI/Apple Leaf Diseases/Data/images'
lst = []
St = set(os.listdir(folder))

In [7]:
import re

def sorted_nicely(l): 
    """ Sort the given iterable in the way that humans expect.""" 
    convert = lambda text: int(text) if text.isdigit() else text 
    alphanum_key = lambda key: [ convert(c) for c in re.split('([0-9]+)', key) ] 
    return sorted(l, key = alphanum_key)

In [8]:
for a in sorted_nicely(St):
    lst.append(a)

In [10]:
lst = lst[4:]

In [16]:
for i,img in enumerate(lst):
    Im = cv2.imread(folder+'/'+lst[i])
#     print(folder+lst[i])
    if Train_csv.iloc[i]['healthy'] == 1:
        cv2.imwrite(os.path.join(folder+'/'+'Healthy/' , lst[i]) , Im)
    elif Train_csv.iloc[i]['multiple_diseases'] == 1:
        cv2.imwrite(os.path.join(folder+'/'+'Multiple/' , lst[i]) , Im)
    elif Train_csv.iloc[i]['rust'] == 1:
        cv2.imwrite(os.path.join(folder+'/'+'Rust/' , lst[i]) , Im)
    elif Train_csv.iloc[i]['scab'] == 1:
        cv2.imwrite(os.path.join(folder+'/'+'Scab/' , lst[i]) , Im)
#     print(folder+'/'+img)

In [16]:
import pathlib
data_dir = pathlib.Path(folder)
data_dir

WindowsPath('Data/images')

In [20]:
list(data_dir.glob('*.jpg'))[:10]

[WindowsPath('Data/images/Train_0.jpg'),
 WindowsPath('Data/images/Train_1.jpg'),
 WindowsPath('Data/images/Train_10.jpg'),
 WindowsPath('Data/images/Train_100.jpg'),
 WindowsPath('Data/images/Train_1000.jpg'),
 WindowsPath('Data/images/Train_1001.jpg'),
 WindowsPath('Data/images/Train_1002.jpg'),
 WindowsPath('Data/images/Train_1003.jpg'),
 WindowsPath('Data/images/Train_1004.jpg'),
 WindowsPath('Data/images/Train_1005.jpg')]

### For Test Data

In [10]:
Test_csv = Train_csv[1821:3642]
Test_csv

       image_id  healthy  multiple_diseases  rust  scab
1821     Test_0        0                  0     1     0
1822     Test_1        0                  0     1     0
1823     Test_2        0                  0     0     1
1824     Test_3        1                  0     0     0
1825     Test_4        0                  0     1     0
...         ...      ...                ...   ...   ...
3637  Test_1816        0                  0     1     0
3638  Test_1817        0                  0     0     1
3639  Test_1818        0                  0     1     0
3640  Test_1819        1                  0     0     0
3641  Test_1820        0                  0     0     1

[1821 rows x 5 columns]

In [21]:
folder_test = 'E:/Self-Learning/Projects AI/Apple Leaf Diseases/Data/Test'
lst1 = []
St1 = set(os.listdir(folder_test))

In [22]:
import re

def sorted_nicely(l): 
    """ Sort the given iterable in the way that humans expect.""" 
    convert = lambda text: int(text) if text.isdigit() else text 
    alphanum_key = lambda key: [ convert(c) for c in re.split('([0-9]+)', key) ] 
    return sorted(l, key = alphanum_key)

In [23]:
for a in sorted_nicely(St1):
    lst1.append(a)

In [25]:
lst1 = lst1[4:]
len(lst1)

1821

In [29]:
for i,img in enumerate(lst1):
    Im = cv2.imread(folder_test+'/'+lst1[i])
#     print(folder+lst[i])
    if Test_csv.iloc[i]['healthy'] == 1:
        cv2.imwrite(os.path.join(folder_test+'/'+'Healthy/' , lst1[i]) , Im)
    elif Test_csv.iloc[i]['multiple_diseases'] == 1:
        cv2.imwrite(os.path.join(folder_test+'/'+'Multiple/' , lst1[i]) , Im)
    elif Test_csv.iloc[i]['rust'] == 1:
        cv2.imwrite(os.path.join(folder_test+'/'+'Rust/' , lst1[i]) , Im)
    elif Test_csv.iloc[i]['scab'] == 1:
        cv2.imwrite(os.path.join(folder_test+'/'+'Scab/' , lst1[i]) , Im)
#     print(folder+'/'+img)